body {
  font: var(--font-5);
  letter-spacing: var(--ls-md);
  color: var(--fg-text-base);
  background-color: var(--bg-canvas-default);
  padding-block-end: var(--pad-page-block-end);
}

::selection {
  background-color: var(--bg-text-selection);
  color: var(--fg-text-selection);
}

::target-text {
  background-color: var(--bg-text-target);
  color: var(--fg-text-target);
}
