@use "helper" as *;

$border-widths: (
  md: rem(1px),
  lg: rem(2px),
);

$border-colors: (
  default-focus: (
    light: "brand-500",
    dark: "brand-500",
  ),
  divider-header: (
    light: "neutral-200",
    dark: "neutral-200",
  ),
  divider-body: (
    light: "neutral-200",
    dark: "neutral-700",
  ),
);

$borders: (
  default-focus: (
    width: "lg",
    style: "solid",
    color: "default-focus",
  ),
  divider-body: (
    width: "md",
    style: "solid",
    color: "divider-body",
  ),
  divider-header: (
    width: "md",
    style: "solid",
    color: "divider-header",
  ),
);
