// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  dropdown: (
    light: "neutral-950" 0.1,
    dark: "brand-500",
  ),
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  dropdown: 0px 5px 30px 0px,
);

$box-shadows: (
  dropdown: (
    var(--bs-dropdown),
  ),
);
