// Primitives
$color-core-neutral: (
  "000": hsl(0, 0%, 100%),
  "100": hsl(0, 0%, 96%),
  "200": hsl(0, 0%, 91%),
  "300": hsl(0, 0%, 70%),
  "500": hsl(0, 0%, 46%),
  "700": hsl(0, 0%, 23%),
  "800": hsl(0, 0%, 18%),
  "900": hsl(0, 0%, 12%),
  "950": hsl(0, 0%, 0%),
);

$color-core-accent: (
  "red": (
    "500": hsl(0, 100%, 66%),
  ),
);

$color-core-brand: (
  "primary": (
    "500": hsl(274, 82%, 60%),
    "600": hsl(274, 82%, 50%),
  ),
);

$color-core-gradient: (
  // 1: (
  //   start: oklch(0.9588 0.0154 257.2),
  //   end: oklch(0.9779 0.0139 185.96),
   // ),
);

// Has Themes
$has-themes: true;

// Default-brand
$default-brand: "primary";

// Background-colors
$background-colors: (
  canvas: (
    default: (
      light: "neutral-000",
      dark: "neutral-950",
    ),
  ),
  container: (
    header: (
      light: "neutral-000" 0.6,
      dark: "neutral-950" 0.6,
    ),
    dropdown: (
      light: "neutral-000",
      dark: "neutral-900",
    ),
  ),
  text: (
    selection: (
      light: "neutral-900",
      dark: "neutral-100",
    ),
    target: (
      light: "neutral-900",
      dark: "neutral-100",
    ),
  ),
  play-svg: (
    idle: (
      light: "brand-500" 0.25,
      dark: "brand-500" 0.25,
    ),
    hover: (
      light: "brand-500",
      dark: "brand-500",
    ),
  ),
);

// Foreground-colors
$foreground-colors: (
  text: (
    base: (
      light: "neutral-800",
      dark: "neutral-000",
    ),
    muted: (
      light: "neutral-500",
      dark: "neutral-500",
    ),
    accent: (
      light: "brand-500",
      dark: "brand-500",
    ),
    selection: (
      light: "neutral-000",
      dark: "neutral-900",
    ),
    target: (
      light: "neutral-000",
      dark: "neutral-900",
    ),
  ),
  play-svg: (
    idle: (
      light: "brand-500",
      dark: "brand-500",
    ),
    hover: (
      light: "neutral-000",
      dark: "neutral-000",
    ),
  ),
);
