@use "helper" as *;

// Theme-switch
$theme-switch-colors: (
  off: (
    light: "neutral-500",
    dark: "neutral-500",
  ),
  on: (
    light: "brand-500",
    dark: "brand-500",
  ),
  track-hover: (
    light: "brand-500",
    dark: "brand-500",
  ),
  thumb: (
    light: "neutral-000",
    dark: "neutral-000",
  ),
);

$theme-switch-appearance: (
  track-width: rem(40px),
  track-height: rem(20px),
  thumb-size: rem(14px),
  thumb-inset: rem(3px),
  border-radius: 1000vw,
  gap: bp(10px, 20px, 20px),
);

// Searchbar
$searchbar-colors: (
  bg: (
    light: "neutral-100",
    dark: "neutral-900",
  ),
  text: (
    light: "neutral-800",
    dark: "neutral-000",
  ),
  placeholder: (
    light: "neutral-800" 0.25,
    dark: "neutral-000" 0.25,
  ),
  caret: (
    light: "brand-500",
    dark: "brand-500",
  ),
  border-idle: (
    light: "transparent",
    dark: "transparent",
  ),
  border-active: (
    light: "brand-500",
    dark: "brand-500",
  ),
  border-error: (
    light: "accent-red-500",
    dark: "accent-red-500",
  ),
  error-message: (
    light: "accent-red-500",
    dark: "accent-red-500",
  ),
);

$searchbar-appearance: (
  border-radius: var(--br-md),
  border-width: rem(1px),
  padding-inline: rem(24px),
  padding-block: bp(15px, 20px, 20px),
);
