@use "helper" as *;

// Buttons
$button-colors: (
  font: (
    idle: (
      fg: (
        light: "neutral-800",
        dark: "neutral-000",
      ),
    ),
    hover: (
      fg: (
        light: "neutral-500",
        dark: "neutral-200",
      ),
    ),
    focus: (
      outline: (
        light: "brand-500",
        dark: "brand-500",
      ),
    ),
  ),
);

$button-appearance: (
  outline-width: (
    font: rem(2px),
  ),
  outline-offset: (
    font: rem(3px),
  ),
);
