@use "helper" as *;
@use "page" as *;

// Wrapper max-widths
$wrapper-sizes: (
  default: 736px,
  narrow: 1088px,
  wide: 1360px,
);

// Static sizes
$static-sizes: (
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (0px, 0px, 22px),
  (10px, 20px, 20px),
  (15px, 20px, 20px),
  (16px, 24px, 24px),
  (24px, 40px, 40px),
  (24px, 48px, 48px),
  (24px, 58px, 58px),
  (28px, 28px, 32px),
  (28px, 40px, 40px),
  (32px, 40px, 40px),
  (32px, 48px, 48px),
  (48px, 48px, 75px),
  (62px, 102px, 110px),
  (96px, 128px, 128px),
  (122px, 183px, 183px)
);

//  Logo
$logo-sizes: (
  default: bp(28px, 28px, 32px),
);

// SVG
$svg-sizes: (
  moon: rem(20px),
  arrow: rem(12px),
  search: rem(16px),
  play: bp(48px, 48px, 75px),
  new-window: rem(12px),
);
