@use "helper" as *;

// Font-family
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter-italic";
  src: url("/fonts/Inter-italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora.woff2") format("woff2");
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: "Lora-italic";
  src: url("/fonts/Lora-italic.woff2") format("woff2");
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
}

$font-family: (
  sans: "'Inter', sans-serif",
  sans-italic: "'Inter-italic', sans-serif",
  serif: "'Lora', serif",
  serif-italic: "'Lora-italic', serif",
  mono: "'Inconsolata', monospace",
);

// Font-weights
$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

// Fonts
$fonts: (
  1: (
    "family": "base",
    "size": fluid(32px, 64px),
    "weight": "bold",
  ),
  2: (
    "family": "accent",
    "size": fluid(18px, 24px),
    "weight": "bold",
  ),
  3: (
    "family": "sans",
    "size": rem(24px),
    "weight": "regular",
  ),
  4: (
    "family": "base",
    "size": fluid(16px, 20px),
    "weight": "bold",
  ),
  5: (
    "family": "base",
    "size": fluid(16px, 20px),
    "weight": "regular",
  ),
  6: (
    "family": "base",
    "size": rem(18px),
    "weight": "bold",
  ),
  7: (
    "family": "base",
    "size": fluid(15px, 18px),
    "weight": "regular",
  ),
  8: (
    "family": "base",
    "size": rem(14px),
    "weight": "bold",
  ),
  9: (
    "family": "base",
    "size": rem(14px),
    "weight": "regular",
  ),
);
