---
// Component imports
import Wrapper from "@components/utilities/Wrapper.astro";

// Asset imports
import Logo from "@assets/logo.svg";
import FontSelector from "@/components/ui/FontSelector.astro";
import ThemeSwitch from "../ui/ThemeSwitch.astro";
---

<header>
  <Wrapper>
    <div class="layout">
      <div class="logo">
        <Logo />
      </div>
      <div class="controls">
        <FontSelector />
        <ThemeSwitch />
      </div>
    </div>
  </Wrapper>
</header>

<style lang="scss">
  header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: var(--bg-container-header);
    padding-block-start: var(--pad-page-block-start);
    padding-block-end: calc(var(--pad-sect-sm) / 2);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      backdrop-filter: blur(16px);
    }
  }

  .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo > svg {
    width: var(--size-logo-default);
  }

  .controls {
    display: flex;
    align-items: center;
  }
</style>
