---
// Asset imports
import ArrowSvg from "@assets/icon-arrow-down.svg";
---

<div class="font-selector">
  <button
    type="button"
    id="font-popover-toggle"
    popovertarget="font-popover-menu"
    popovertargetaction="toggle"
  >
    <span class="visually-hidden">Font: </span>
    <span class="current"></span>
    <ArrowSvg class="arrow-svg" aria-hidden="true" />
  </button>

  <div id="font-popover-menu" role="radiogroup" popover>
    <label>
      <input type="radio" name="font" value="sans" class="visually-hidden" />
      <span>Sans Serif</span>
    </label>
    <label>
      <input type="radio" name="font" value="serif" class="visually-hidden" />
      <span>Serif</span>
    </label>
    <label>
      <input type="radio" name="font" value="mono" class="visually-hidden" />
      <span>Mono</span>
    </label>
  </div>
</div>

<style lang="scss">
  .font-selector {
    border-right: var(--border-divider-header);
    padding-inline-end: var(--size-16px-24px-24px);
  }

  // Button
  #font-popover-toggle {
    display: flex;
    align-items: center;
    gap: var(--space-cont-md);
    font: var(--font-6);
    background: none;
    color: var(--btn-fg-color-idle-font);
    border: none;
    overflow: clip;
    transition: color var(--trans-default);
    anchor-name: --font-popover-toggle;

    .arrow-svg {
      width: var(--size-svg-arrow);
      transition: rotate var(--trans-default-sensitive);
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--fg-text-accent);

        .arrow-svg {
          animation-name: arrowAnimation;
          animation-duration: var(--motion-slow-sensitive);
          animation-timing-function: var(--ease-in-out);
        }
      }
    }
  }

  @keyframes arrowAnimation {
    40% {
      transform: translateY(var(--size-10));
      opacity: 0;
    }
    60% {
      transform: translateY(calc(var(--size-10) * -1));
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .font-selector:has(:popover-open) .arrow-svg {
    rotate: 180deg;
  }

  //   Menu
  #font-popover-menu {
    display: grid;
    gap: var(--space-cont-md);
    width: var(--size-122px-183px-183px);
    background-color: var(--bg-container-dropdown);
    border: none;
    border-radius: var(--br-md);
    box-shadow: var(--bs-none);
    padding-inline: var(--pad-cont-sm);
    padding-block: var(--pad-cont-md);
    position-anchor: --font-popover-toggle;
    inset: unset;
    top: anchor(bottom);
    right: anchor(right);
    margin-block-start: var(--size-12);
    opacity: 0;
    transition:
      opacity var(--trans-default),
      box-shadow var(--trans-default),
      overlay 0.5s allow-discrete,
      display var(--motion-default) allow-discrete;

    // open state
    &:popover-open {
      opacity: 1;
      box-shadow: var(--bs-dropdown);

      @starting-style {
        opacity: 0;
        box-shadow: var(--bs-none);
      }
    }

    label {
      font: var(--font-6);
      cursor: pointer;
      transition: color var(--trans-default);

      &:has(input[value="serif"]) {
        font-family: var(--ff-serif);
      }
      &:has(input[value="sans"]) {
        font-family: var(--ff-sans);
      }
      &:has(input[value="mono"]) {
        font-family: var(--ff-mono);
      }

      &:has(input:checked) {
        color: var(--fg-text-accent);
        cursor: default;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--fg-text-accent);
        }
      }

      &:has(input:focus-visible) {
        outline: var(--border-default-focus);
        outline-offset: var(--offset-default-focus);
      }
    }
  }
</style>
