---
// Asset imports
import SearchSvg from "@assets/icon-search.svg";
---

<form id="searchbar-from" role="search" novalidate>
  <label>
    <span class="visually-hidden">Search for a word</span>
    <input
      type="search"
      name="search"
      id="searchbar-input"
      placeholder="Search for any word…"
      inputmode="search"
      required
      minlength="1"
    />
    <p id="search-error" class="error" aria-live="polite"></p>
    <button class="submit-button" type="submit">
      <span class="visually-hidden">Search</span>
      <SearchSvg class="search-svg" aria-hidden="true" />
    </button>
  </label>
</form>

<style lang="scss">
  form {
    margin-block-start: calc(var(--pad-sect-sm) / 2);
  }

  label {
    --button-padding: var(--size-4);

    display: grid;
    align-items: center;
    position: relative;
  }

  .submit-button {
    position: absolute;
    right: calc(var(--searchbar-padding-inline) - var(--button-padding));
    display: grid;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--button-padding);
  }
  .search-svg {
    width: var(--size-svg-search);
  }

  input {
    width: 100%;
    font: var(--font-4);
    background-color: var(--searchbar-bg-color);
    color: var(--searchbar-text-color);
    caret-color: var(--searchbar-caret-color);
    border-radius: var(--searchbar-border-radius);
    border: var(--searchbar-border-width) solid
      var(--searchbar-border-idle-color);
    padding-inline-start: var(--searchbar-padding-inline);
    padding-inline-end: calc(
      var(--searchbar-padding-inline) + var(--size-svg-search) +
        var(--button-padding)
    );
    padding-block: var(--searchbar-padding-block);
    transition: border-color var(--trans-default);

    &::-webkit-search-cancel-button {
      display: none;
      appearance: none;
    }

    &::placeholder {
      color: var(--searchbar-placeholder-color);
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--searchbar-border-active-color);
      }
    }

    &:focus-visible {
      border-color: var(--searchbar-border-active-color);
      outline: none;
    }

    &[aria-invalid="true"] {
      border-color: var(--searchbar-border-error-color);

      + .error {
        display: block;
      }
    }
  }

  .error {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    font: var(--font-5);
    color: var(--searchbar-error-message-color);
    transform: translateY(calc(100% + var(--space-cont-2xs)));
  }
</style>
